<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What we believe in!</h2>
                <hr class="light">
                <p class="text-faded">We are passionate about testing our ability to endure. As a group of coaches and athletes, this often means testing ourselves through endurance events such as running, triathlon and cycling competitions.</p>
                <p class="text-faded">We believe in the value of using the training process, endurance lifestyle, community and network that participates in these events to further our personal development.</p>
                <p class="text-faded">Our philosophy focuses on health, fitness and performance. We strive to be <b><u>healthy in all aspects of our lives</u></b>, we challenge ourselves physically to <b><u>become more fit</u></b> and we are willing to stretch our comfort zones and take risks to have <b><u>peak performances</u></b> within competition.</p>
                <a href="/#services" class="btn btn-default btn-xl">Join Us!</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="light">
                <p class="text-faded"><a style="color:white;" href="/coaches/">Learn about the coaches</a></p>
            </div>
        </div>
    </div>
</section>
