<section class="no-padding" id="portfolio">
    <div id="testimonials">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/susan-gary-at-bourbon-chase.jpg" class="img-responsive" alt="Suan MacDonell and Gary Ditsch at 2017 Bourbon Chase">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Susan MacDonell
                            </div>
                            <div class="project-name">
                                I'm a stronger and more confident runner thanks to Gary and his coaching. His training programs challenge me to go further and remind me to do more than just run. The support and encouragement I get from the community he brought together with Endurance Base Camp helped me gain confidence in my abilities and pushes me to go further and take on new challenges.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/brad-gary-ryan-at-crazy-horse.jpg" class="img-responsive" alt="Brad Feld, Ryan Martens and Gary Ditsch at 2017 Crazy Horse Marathon">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Brad Feld
                            </div>
                            <div class="project-name">
                                I have a goal to run a marathon in every state. Gary's coaching has helped me prepare for a majority of the races I have completed. It's comforting to know that he understands my goals and is looking at my data while preparing my workouts each week.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/running-blank.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/running-blank.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/running-blank.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/running-blank.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</section>
