<section class="no-padding" id="portfolio">
    <div id="testimonials">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="/client-testimonials/" class="portfolio-box">
                    <img src="img/portfolio/brad-gary-ryan-at-crazy-horse.jpg" class="img-responsive" alt="Brad Feld, Ryan Martens and Gary Ditsch at 2017 Crazy Horse Marathon">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Brad Feld
                            </div>
                            <div class="project-name">
                                I have a goal to run a marathon in every state. Gary's coaching has helped me prepare for a majority of the races I have completed. It's comforting to know that he understands my goals and is looking at my data while preparing my workouts each week.
                                <p>... READ MORE</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/client-testimonials/" class="portfolio-box">
                    <img src="img/portfolio/testimonial_background.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Wendy Crowe
                            </div>
                            <div class="project-name">
                                Endurance Base Camp and particularly Gary Ditsch has been a complete blessing to myself and to my family.  From being part of the running groups to specialized training for half marathons and more have allowed myself and my husband to achieve PR’s
                                <p>... READ MORE</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/client-testimonials/" class="portfolio-box">
                    <img src="img/portfolio/brad-gary-ryan-at-crazy-horse.jpg" class="img-responsive" alt="Brad Feld, Ryan Martens and Gary Ditsch at 2017 Crazy Horse Marathon">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ryan Martens
                            </div>
                            <div class="project-name">
                                De-risk your first marathon - get Gary!
                                With a bit of peer pressure and good timing, I signed up to run my first marathon at 52.  I had run a dozen Bolder Boulder races over the years, but never even raced a 1/2 marathon.
                                <p>... READ MORE</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/client-testimonials/" class="portfolio-box">
                    <img src="img/portfolio/testimonial_background.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jason Greer
                            </div>
                            <div class="project-name">
                                I’m currently working with Gary training for my second half marathon with him and third overall.  He adjusts my workouts weekly based on my progress and feedback from heart rate and other data
                                <p>... READ MORE</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/client-testimonials/" class="portfolio-box">
                    <img src="img/portfolio/susan-gary-at-bourbon-chase.jpg" class="img-responsive" alt="Suan MacDonell and Gary Ditsch at 2017 Bourbon Chase">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Susan MacDonell
                            </div>
                            <div class="project-name">
                                I'm a stronger and more confident runner thanks to Gary and his coaching. His training programs challenge me to go further and remind me to do more than just run. The support and encouragement I get from the community he brought together with Endurance Base Camp helped me gain confidence in my abilities and pushes me to go further and take on new challenges.
                                <p>... READ MORE</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/client-testimonials/" class="portfolio-box">
                    <img src="img/portfolio/testimonial_background.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</section>
